:root {
    /* primary colors */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    /* neutral colors */
    --dark-grayish-red: hsl(0, 6%, 24%);
    /* fonts */
    --ff: 'Josefin Sans', sans-serif;
    --fs: 16px;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

main {
    height: 100%;
    display: flex;
    font-family: var(--ff);
}

.content {
    padding: 80px 27% 0px 200px;
    width: 60%;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position:bottom;
}

.image {
    height: 100%;
    width: 40%;
    background: url("/images/hero-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: top;
}

.middle {
    margin-top: 150px;
}

.middle h1 {
    font-size: 80px;
    font-weight: var(--fw-regular);
    letter-spacing: 15px;
    text-transform: uppercase;
    color: var(--dark-grayish-red);
}

.middle h1:nth-child(1) {
    color: var(--desaturated-red);
    font-weight: var(--fw-light);
}

.middle p {
    color: var(--desaturated-red);
    font-size: var(--fs);
    margin: 50px 0;
    line-height: 25px;
}

.bottom {
    position: relative;
}

.bottom input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    text-indent: 30px;
    border: solid 1px var(--desaturated-red);
}

.bottom input:focus {
    outline: none;
}

.bottom ::placeholder {
    color: var(--desaturated-red);
    opacity: 0.7;
    text-indent: 30px;
}

.bottom button {
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    position: absolute;
    height: 50px;
    width: 80px;
    border-radius: 50px;
    border: none;
    right: 0;
}

.bottom button:hover {
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(135deg,rgb(250, 214, 214),rgb(247, 203, 204));
    box-shadow: 0 0 5px var(--desaturated-red);
}

#error {
    position: absolute;
    top: 14px;
    right: 95px;
    visibility: hidden;
}

#error-message {
    color: var(--soft-red);
    margin: 10px 0 0 30px;
}

footer {
    position: absolute;
    top: 90vh;
    left: 200px;
}

.attribution {
  font-size: 20px;
}

.attribution a {
  color: var(--soft-red);
}

.mobile-image {
    background: url("/images/hero-mobile.jpg") no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    display: none;
}

@media screen and (max-width: 1440px) {
    .content {
        padding: 80px 20% 0px 200px;
    }
    
    .middle h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 80px 15% 0px 200px;
    }
    
    .middle h1 {
        font-size: 60px;
    }

    .attribution {
        font-size: var(--fs);
    }

    footer {
        top: 80vh;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        padding: 80px 10% 0px 150px;
    }
    
    .middle h1 {
        font-size: 50px;
    }

    footer {
        left: 150px;
    }
}

@media screen and (max-width: 900px) {
    .content {
        padding: 80px 10% 0px 100px;
    }
    
    .middle h1 {
        font-size: 40px;
    }

    footer {
        left: 100px;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .image {
        display:none;
    }

    .content {
        width: 100%;
        padding: 0;
    }

    .mobile-image {
        display: block;
    }

    .top {
        padding: 30px;
    }

    .middle {
        margin-top: 50px;
        padding: 0 100px;
    }

    .middle h1 {
        font-size: 60px;
    }

    .middle p {
        font-size: 20px;
        text-align: justify;
    }

    .middle h1:nth-child(1), .middle h1:nth-child(3)  {
        text-indent: 50px;
    }

    .bottom {
        padding: 0 100px 80px;
    }

    .bottom button {
        right: 100px;
    }

    footer {
        left: 100px;
        top: 125vh;
    }
}

@media screen and (max-width: 500px) {
    .mobile-image {
        height: 350px;
    }

    .middle {
        padding: 0 50px;
    }

    .bottom {
        padding: 0 50px 50px;
    }

    .bottom button {
        right: 50px;
    }

    footer {
        left: 50px;
        top: 115vh;
    }
}

@media screen and (max-width: 425px) {
    .middle h1 {
        font-size: 50px;
    }

    .middle p {
        font-size: var(--fs);
    }
}